// .scss syntax for clarity with @font-face
// Not everything typography related, just blocks
// that can be separated from the main stylehseet

// Declare lovely custom font(s)
// @font-face {
//     font-family: 'Brandon Grotesque Black';
//     src: url('../fonts/brandon_grotesque_black.woff') format('woff'),
//          url('../fonts/brandon_grotesque_black.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }



// Extra variables
$transition: all 0.2s cubic-bezier(0.165, 0.63, 0.14, 0.82);



// Text selection, because why not?
::selection {
	background-color: $lightGreen;
	color: $darkGrey;
	text-shadow: none;
}



// Anchor links
a {
	color: inherit;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 2px solid lighten($lightGrey, 20%);
	transition: $transition;
	&::selection {
		background-color: $lightGrey;
		color: $lightGreen;
	}
	&::-moz-selection {
		background-color: $lightGrey;
		color: $lightGreen;
	}
	&:hover {
		border-bottom: 2px solid $lightGreen;
	}
}



// Preformatted text and code samples
textarea, pre, kbd, samp, var, tt {
	font-family: Consolas, monaco, monospace;
	font-size: 0.75em;
	padding: 1px 18px;
	margin: 0 0 1.5em;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: lighten($lightGrey, 38%);
	border-image: none;
	border-radius: 4px;
	background: none repeat scroll 0% 0% lighten($lightGrey, 43%);
	white-space: pre;
	overflow-x: auto;
	.highlighted {
		color: $darkGreen;
	}
}